@import "tailwindcss";

@theme {
  --cyan: #00ffe1;
  --blue-dark: #001f2f;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--white-gray);
  color: var(--blue-light);
}

textarea::selection {
  background-color: var(--gray-dark);
  color: var(--white-gray);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--blue-light);
  background-image: -webkit-linear-gradient(
    top,
    #ebf2f5 0%,
    #b7d0db 50%,
    #919a9e 51%,
    #abacc9 100%
  );
}
